<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website created by K.W.">
    <meta name="author" content="K.W.">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/lessons.css">
    <link rel="stylesheet" href="/static/css/superuser/lessons.css">
    <title>教室管理画面</title>
</head>
<body>
    {% include "header.html" %}

    <div id="app" class="flex-column">
        
        <section id="page-directory-section" class="flex-row">
            <span id="span-margin-left" style="margin-left: 1rem; margin-right: 0;"></span>
            <span><a href="/">ホーム</a></span>
            <span>＞</span>
            <span><a href="/">管理者画面（嘘）</a></span>
            <span>＞</span>
            <span>教室</span>
        </section>


        <div id="proper-body" class="flex-row">
            
            <main id="main" class="flex-column align-center">

                {% include "login.html" %}

                <section id="lesson-list-section" class="flex-column on-login">
                    <h1>2024年度前期　教室</h1>

                    <div class="space"></div>

                    <ul id="lesson-list" class="flex-column">
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                    </ul>
                </section>

                <div class="space"></div>

                <section id="add-lesson-section">
                    <h1>教室を追加する</h1>
                    <form id="add-lesson-form" class="flex-column">
                        <input type="tel" inputmode="tel" name="year" placeholder="年度">
                        <input type="tel" inputmode="tel" name="season" placeholder="前期=>1, 後期=>2">
                        <input type="tel" inputmode="tel" name="number" placeholder="教室番号">
                        <input type="text" name="title" placeholder="教室名">
                        <input type="text" name="teacher" placeholder="講師">
                        <input type="text" name="day" placeholder="曜日（１文字）">
                        <input type="text" name="time" placeholder="時間">
                        <input type="tel" inputmode="tel" name="price" placeholder="参加費">
                        <input type="text" name="description" placeholder="コメント">
                        <input type="tel" inputmode="tel" name="capacity" placeholder="定員">
                        <button id="add-lesson-btn" type="submit">教室を追加する</button>
                    </form>
                </section>
            </main>
        </div>
    </div>

    <footer id="footer">
        <p>（一社）養老スポーツクラブ</p>
    </footer>

    <script src="/static/js/base.js"></script>
    <script src="/static/js/lessons.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/superuser/lessons.js"></script>
    <script src="/static/js/render.js"></script>
</body>
</html>

