/* base.css */

:root {
    --text-color: #333333;
    --bg-color: #f0f0f0;
    --bg-color-accent: #f4f4f4;
    --border-form: 1px solid #bfbfbf;
    --btn-green: #45a049;
    --btn-green-hover: #4CAF50;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-mode {
    --text-color: #f0f0f0;
    --bg-color: #161616;
    --bg-color-accent: #1e1e1e;
    --border-form: 1px solid #888888;
    --btn-green: #1b831b;
    --btn-green-hover: #19a219;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: var(--text-color);
}

button {
	background: none;
	border: 1px solid gray;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

a {
    color: #20a7cd;
}

a:visited {
    color: #dcac1d;
}

/* remove default list styles and the margin on the left */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input, textarea {
    font-size: medium;
    color: var(--text-color);
    background-color: var(--bg-color-accent);
    border: var(--border-form);
    border-radius: 5px;
    box-sizing: border-box; /* ボックスモデルの設定：ボーダーをサイズに含める */
    padding: 1rem; /* 0.5rem == 8px if font size is 16px */
    margin: 0.5rem 0;
}

textarea {
    resize: none;
    font-family: inherit;
}

button {
    cursor: pointer;
}

body {
    font-family: sans-serif;
    font-size: medium;
    overflow-y: scroll;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: auto;
    position: relative;
    width: auto;
}

.space {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-column-center > * {
    margin-right: auto;
    margin-left: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.bg {
    background-color: var(--bg-color);
}

.bg-accent {
    background-color: var(--bg-color-accent);
}

.a-btn {
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: antiquewhite;
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    max-width: 30rem;
    text-align: center;
    color: #20a7cd;
    cursor: pointer;
}

.a-btn:visited {
    color: #20a7cd;
}


header {
    width: 100%;
    position: relative;
    background-color: #333333;
    color: #ccc;
}

#header-section {
    padding: 0 0.5rem;
    min-height: 3rem;
    align-items: center;
}

#nav-mobile-content {
    padding: 1rem;
}

#nav-mobile-content > span {
    margin-bottom: 2rem;
}

#nav-mobile-content > span > a {
    text-decoration: none;
    color: aliceblue;
    padding: 1rem;
}

#nav-mobile-content > span > a:hover {
    background-color: gray;
}

#nav-pc > span {
    margin-right: 1rem;
}

#nav-pc > span > a {
    text-decoration: none;
    color: aliceblue;
    padding: 1rem;
}

#nav-pc > span > a:hover {
    background-color: gray;
}

#user-btn, #menu-btn, #logout-btn {
    border: none;
    color: #f0f0f0;
    background-color: gray;
    padding: 0 1rem;
    min-height: 2rem;
    font-size: small;
    border-radius: 3px;
}

#user-btn:hover, #menu-btn:hover, #logout-btn:hover {
    background-color: darkgray;
}

#page-directory-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: small;
    overflow-wrap: break-word;
    word-break: keep-all;
    overflow-x: scroll;
    background-color: var(--bg-color-accent);
}

#page-directory-section > span {
    margin-right: 1rem;
}

#page-directory-section::after {
    content: "";
    padding-right: 1rem;
}

#proper-body {
    flex-grow: 1;
}


/* do not write width: 100%; on main and on the others that dont need it */
main {
    padding: 1rem;
    background-color: var(--bg-color);
    flex-grow: 1; /* fill horizontal space of the parent flex-row element with main */
}

aside {
    display: none;
}

footer {
    padding: 1rem 0;
    margin-top: 2rem;
    width: 100%;
    background-color: #333333;
    color: #f0f0f0;
    text-align: center;
}


.auth-form-div {
    text-align: center;
    max-width: 30rem;
    width: 100%;
}

#login-btn {
    background-color: #4c99af;
    color: white;
    pointer-events: auto;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid darkgray;
    box-sizing: border-box;
    font-size: medium;
}

#login-btn:hover {
    background-color: #236180;
}


#sign-up-btn {
    background-color: #4c99af;
    color: white;
    pointer-events: auto;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid darkgray;
    box-sizing: border-box;
    font-size: medium;
}

#sign-up-btn:hover {
    background-color: #236180;
}



/* hidden must be last */
.hidden {
    display: none;
}


/* responsive design for PC */
@media (min-width: 80rem) {
    #proper-body {
        margin: 0 1rem; /* do not set width with this padding here */
    }
    
    #header-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #nav-mobile {
        display: none;
    }

    #nav-pc {
        display: flex;
    }
}


/* exceptional dark mode */
@media (prefers-color-scheme: dark) {
    /* pass */
    a:visited {
        color: #dcac1d;
    }
}

