/* base.css */

:root {
    --text-color: #333;
    --bg-color: #f4f4f4;
    --bg-color-accent: #fff;
    --border-form: 1px solid #ccc;
    --btn-green: #45a049;
    --btn-green-hover: #4CAF50;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-mode {
    --text-color: #f0f0f0;
    --bg-color: #161616;
    --bg-color-accent: #1e1e1e;
    --border-form: 1px solid #888888;
    --btn-green: #1b831b;
    --btn-green-hover: #19a219;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.space {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-row-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.center {
    text-align: center;
}

.bg {
    background-color: var(--bg-color);
}

.bg-accent {
    background-color: var(--bg-color-accent);
}

h1, h2 {
    color: var(--text-color);
}

/* remove default list styles and the margin on the left */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input, textarea {
    font-size: medium;
    color: var(--text-color);
    background-color: var(--bg-color-accent);
    border: var(--border-form);
    border-radius: 5px;
    box-sizing: border-box; /* ボックスモデルの設定：ボーダーをサイズに含める */
}

textarea {
    resize: none;
    font-family: inherit;
}

button {
    font-size: small;
    cursor: pointer;
}

body {
    align-items: center;
    font-family: sans-serif;
    font-size: medium;
    overflow-y: scroll;
    width: 100%;
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}

#app {
    padding: 0;
}

header {
    width: 100%;
    position: relative;
    background-color: #373737;
    color: #ccc;
}

#header-section {
    padding: 0 1rem;
}

footer {
    padding: 1rem 0;
    margin-top: 2rem;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

/* aside: subject to chagnge on responsive design */
aside {
    display: none;
    padding: 1rem;
    background-color: var(--bg-color-accent);
    width: 20rem;
}

/* main: subject to chagnge on responsive design */
main {
    padding: 1rem;
    margin-right: 0rem; /* already 1rem on #app and 1rem on PC */
    background-color: var(--bg-color-accent);
    width: 100%;
}

#proper-body {
    width: 100%;
}

#page-directory-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: small;
    overflow-wrap: break-word;
    word-break: keep-all;
    width: 100%;
    overflow-x: scroll;
}

#page-directory-section > span {
    margin-right: 1rem;
}

#page-directory-section::after {
    content: "";
    padding-right: 1rem;
}

nav > p {
    margin-right: 1rem;
}






#login-form {
    align-items: center;
}


#login-form > input {
    padding: 0.6rem; /* 0.5rem equals 8px if font size is 16px */
    margin: 0.4rem 0;
    width: 60%;
}


#login-btn {
    background-color: #4c99af;
    color: white;
    pointer-events: auto;
    padding: 0.6rem;
    margin: 0.4rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 60%;
}

#login-btn:hover {
    background-color: #236180;
}


#sign-up-form {
    align-items: center;
}


#sign-up-form > input {
    padding: 0.6rem;
    margin: 0.4rem 0;
    width: 60%;
}



#sign-up-btn {
    background-color: #4c99af;
    color: white;
    pointer-events: auto;
    padding: 0.6rem;
    margin: 0.4rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 60%;
}

#sign-up-btn:hover {
    background-color: #236180;
}



/* fixed styles below */

/* hidden must be last */
.hidden {
    display: none;
}


/* responsive design for PC */
@media (min-width: 1080px) {
    #app {
        padding: 0 1rem; /* do not set width with this padding here */
    }
    
    #header-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #nav-mobile {
        display: none;
    }

    #nav-pc {
        display: flex;
    }

    #aside {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    main {
        margin-right: 1rem;
    }

    nav {
        display: flex;
        position: relative;
        width: 100%;
    }

    #span-margin-left {
        display: none;
    }

    #page-directory-section::after {
        display: none;
    }
}


/* exceptional dark mode */
@media (prefers-color-scheme: dark) {
    /* pass */
    a:visited {
        color: #dcac1d;
    }
}

