/* lessons.css */

.lesson-list-li {
    border: 10px;
    border-color: aqua;
    background-color: gray;
    box-sizing: border-box;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}




@media (min-width: 1080px) {
    #lesson-list {
        display: flex;
        flex-wrap: wrap;
    }
    
    .lesson-list-li {
        width: 20rem;
    }
}
