/* lessons.css */

button {
	background: none;
	border: 1px solid;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

#lesson-list {
    gap: 3rem 0;
}

.lesson-list-li {
    border: 2px solid;
    border-color: gray;
    background-color: white;
    box-sizing: border-box;
    padding: 0.6rem;
    color: #1e1e1e;
}

.lesson-number-etc {
    min-height: 3rem;
    align-items: flex-start;
    font-size: large;
    margin-bottom: 1rem;
}

.lesson-number {
    border-radius: 10%;
    background-color: orange;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    color: white;
    font-weight: bold;
    /* transform: rotate(45deg); */
}

/* .lesson-number > div {
    transform: rotate(-45deg);
} */

.lesson-name {
    max-width: calc(100% - 6rem);
    z-index: 2;
    text-align: center;
}

.lesson-name > div {
    align-items: center;
    min-height: 3rem;
    font-weight: bold;
}

.lesson-day {
    border-radius: 50%;
    background-color: cadetblue;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    color: white;
    font-weight: normal;
}

.lesson-time-etc {
    background-color: none;
}

.lesson-time-etc > div {
    margin-bottom: 0.5rem;
}

.lesson-img {
    width: 6rem;
    align-items: center;
    background-color: aliceblue;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}


.lesson-sign-up-btn {
    font-size: large;
    font-weight: bold;
    padding: 1rem 0;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(51, 165, 118);
    color: whitesmoke;
}

.lesson-sign-up-btn:hover {
    background-color: rgb(50, 179, 123);
}


@media (min-width: 80rem) {
    #lesson-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
    }

    .lesson-list-li {
        width: auto;
    }

    #aside {
        display: none;
    }

    #main {
        margin-right: 0;
    }
}
