/* lessons.css */

#lesson-list {
    gap: 3rem;
}

.lesson-list-li {
    border: 2px solid;
    border-color: gray;
    background-color: white;
    box-sizing: border-box;
    padding: 0.5rem;
    color: #1e1e1e;
}

.lesson-number-etc {
    min-height: 3rem;
    align-items: flex-start;
    font-size: large;
    margin-bottom: 1rem;
}

.lesson-number {
    border-radius: 10%;
    background-color: orange;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    color: white;
    font-weight: bold;
    /* transform: rotate(45deg); */
}

/* .lesson-number > div {
    transform: rotate(-45deg);
} */

.lesson-name {
    max-width: calc(100% - 6rem);
    z-index: 2;
    text-align: center;
}

.lesson-name > div {
    align-items: center;
    min-height: 3rem;
    font-weight: bold;
}

.lesson-day {
    border-radius: 50%;
    background-color: cadetblue;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    color: white;
    font-weight: normal;
}

.lesson-time-etc {
    background-color: none;
}

.lesson-time-etc > div {
    margin-bottom: 0.5rem;
}

.lesson-img {
    width: 6rem;
    align-items: center;
    background-color: aliceblue;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}


.lesson-sign-up-btn {
    font-size: large;
    font-weight: bold;
    padding: 1rem 0;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(51, 165, 108);
    color: #f0f0f0;
}

.lesson-sign-up-btn:hover {
    background-color: rgb(50, 179, 123);
}

.dummy-li {
    border: 2px solid;
    border-color: gray;
    background-color: gray;
    box-sizing: border-box;
    padding: 0.5rem;
    color: #1e1e1e;
    height: 20rem;
}

.dummy-btn {
    padding: 1rem 0;
    cursor: auto;
    font-size: medium;
    background-color: aliceblue;
}

.lesson-cancel-btn {
    padding: 1rem 0;
    font-size: medium;
    background-color: lightpink;
}

.lesson-cancel-btn-small {
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    padding: 0 0.5rem;
    font-size: smaller;
    background-color: lightpink;
    color: #101010;
    border: 1px solid darkgray;
    border-radius: 3px;
    cursor: pointer;
}



@media screen and (max-width: 26rem) {
    .lesson-list-li, .dummy-li, #lesson-list, #lesson-list-section {
        min-width: 100%;
        /* width: inherit; */
    }
}


@media screen and (min-width: 26rem) {
    .lesson-list-li, .dummy-li {
        min-width: 24rem;
    }
}


@media screen and (min-width: 80rem) {
    #lesson-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* <=> 1fr 1fr 1fr */
        gap: 2rem;
    }

    .lesson-list-li {
        width: 24rem;
    }

    .dummy-li {
        width: 24rem;
    }
}
