/* styles.css */

body {
  display: block;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  width: 100%;
  background-color: #f9f9f9;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2%;
  font-family: sans-serif;
  font-size: medium;
}

#header-and-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style: none;
  padding-left: 4%;
}

#aside-and-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 4;
}

section {
  display: block;
}

article {
  display: block;
}

footer {
  display: block;
  margin-top: 20px;
  padding: 10px 0;
  width: 100vw;
  text-align: center;
}


h1, h2, h3, h4, h5, h6, p {
  color: #333;
}


.hidden {
  display: none;
}


/* レスポンシブデザイン */
@media (min-width: 1080px) {
  /* PC向けのスタイル */
  header {
    justify-content: space-around;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    padding-left: 0;
    width: 100%;
  }

  nav ul li {
    margin-right: 2%;
  }
  
  aside {
      display: flex;
      flex-direction: column;
      justify-content: start;
  }
}
