/* todos.css */

:root {
    --text-color: #333;
    --bg-color: #f9f9f9;
    --bg-color-accent: #fff;
    /* dark theme */
    --text-color-dark: #f0f0f0;
    --bg-locor-dark: #141414;
    --bg-color-accent-dark: #1e1e1e;
}

h1, h2 {
    color: var(--text-color);
    text-align: center;
}

ul {
    /* remove default list style and the margin */
    list-style: none;
    padding: 0;
    margin: 0;
}

input, textarea {
    font-size: medium;
}

textarea {
    resize: none;
}

button {
    font-size: small;
    cursor: pointer;
}

.space {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    width: 100%;
    color: var(--text-color);
    background-color: var(--bg-color);
}

#app {
    align-items: center;
    padding: 0 0.6rem; /* do not set width with this padding here */
    font-family: sans-serif;
    font-size: medium;
}

header {
    width: 100%;
    position: relative;
}

footer {
    padding: 1rem 0;
    margin-top: 2rem;
    width: 100vw;
    background-color: #333;
    color: white;
    text-align: center;
}

/* subject to chagnge on responsible theme */
main {
    width: 100%;
}



/* main contents below */


#todo-list > li {
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-color-accent);
}


.dummy-todo-li {
    height: 9rem;
}

/* classによるスタイルはidによるスタイルで上書きされる */
/*
#add-todo-form-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
*/
/*
#add-todo-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
*/

#add-todo-form > input,
#add-todo-form > textarea,
#add-todo-form > button {
    padding: 0.6rem;
    margin: 0.4rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* ボックスモデルの設定：ボーダーをサイズに含める */
    width: 100%;
}

#add-todo-form-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    pointer-events: auto;
}

#add-todo-form-btn:hover {
    background-color: #45a049;
}



.todo-action-section button {
    margin-right: 1rem;
}


.edit-form {
    margin-top: 1rem;
}


.edit-form > input {
    padding: 0.6rem;
    margin-bottom: 0.6rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box; /* ボックスモデルの設定：ボーダーをサイズに含める */
}

.edit-form > textarea {
    padding: 0.6rem;
    margin-bottom: 0.4rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* ボックスモデルの設定：ボーダーをサイズに含める */
    width: 100%;
}



#login-form {
    align-items: center;
}


#login-form > input {
    padding: 8px;
    margin: 1% 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* ボックスモデルの設定：ボーダーをサイズに含める */
    width: 60%;
}


#login-btn {
    background-color: #4c99af;
    color: white;
    border: none;
    pointer-events: auto;
    padding: 0.6rem;
    margin: 0.4rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 60%;
}

#login-btn:hover {
    background-color: #236180;
}


#sign-up-form {
    align-items: center;
}


#sign-up-form > input {
    padding: 0.6rem;
    margin: 0.4rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* ボックスモデルの設定：ボーダーをサイズに含める */
    width: 60%;
}



#sign-up-btn {
    background-color: #4c99af;
    color: white;
    border: none;
    pointer-events: auto;
    padding: 0.6rem;
    margin: 0.4rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 60%;
}

#sign-up-btn:hover {
    background-color: #236180;
}



.todo-list-content {
    white-space: pre-wrap;
}


.hidden {
    display: none;
}


/* レスポンシブデザイン */
@media (min-width: 1080px) {
    /* PC向けのスタイル */
    main {
        width: 40%; /* PCサイズ向けに幅を調整 */
    }
}

/* ダークモード */
@media (prefers-color-scheme: dark) {
    :root {
    --text-color: var(--text-color-dark);
    --bg-color: var(--bg-locor-dark);
    --bg-color-accent: var(--bg-color-accent-dark);
    }

    #todo-list > li {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    #add-todo-form > input, #add-todo-form > textarea, #add-todo-form > button {
    border: 1px solid #666;
    }

    #add-todo-form > button {
    background-color: #1b831b;
    }

    #add-todo-form > button:hover {
    background-color: #19a219;
    }

    footer {
    background-color: #444;
    }

    input, textarea {
    color: var(--text-color);
    background-color: var(--bg-color-accent);
    }
}

