<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website created by K.W.">
    <meta name="author" content="K.W.">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/lessons.css">
    <title>{{ title }}</title>
</head>
<body>
    <header id="header">
        <section id="header-section" class="flex-row-between">
            <section id="nav-section">
                <nav id="nav-mobile" class="flex-row">
                    <p>メニュー</p>
                </nav>
                <nav id="nav-pc" class="flex-row hidden">
                    <a href="/">ホーム</a>
                    <a href="/todos">Todos</a>
                    <a href="/lessons">Lessons</a>
                </nav>
            </section>
            <section id="user-info-section">
                <button id="logout-btn" class="hidden">Logout</button>
                <button type="button" id="user-btn">user</button>
            </section>
        </section>
    </header>


    <div id="app" class="flex-column">
        
        <section id="page-directory-section" class="flex-row">
            <span id="span-margin-left" style="margin-left: 1rem; margin-right: 0;"></span>
            <span>ホーム</span>
            <span>＞</span>
            <span>マイページ</span>
            <span>＞</span>
            <span>2024年度前期教室</span>
        </section>

        <div id="proper-body" class="flex-row-around">
            
            <main id="main" class="flex-column">
                
                <section id="login-form-section" class="flex-column on-logout hidden">
                    <h1>Login</h1>
                    <form id="login-form" class="flex-column">
                        <input type="text" name="username" placeholder="Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <button type="submit" id="login-btn">Login</button>
                    </form>
                </section>
        
                <div class="space on-logout hidden"></div>
                
                <section id="sign-up-form-section" class="flex-column on-logout hidden">
                    <h1>Create a new account</h1>
                    <form id="sign-up-form" class="flex-column">
                        <input type="text" name="username" placeholder="Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <button type="submit" id="sign-up-btn">Create a new account</button>
                    </form>
                </section>
        
                <div class="space on-logout hidden"></div>

                <section id="lesson-list-section" class="flex-column on-login">
                    <h1>2024年度前期　教室</h1>

                    <div class="space"></div>

                    <ul id="lesson-list" class="flex-column">
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                        <li class="dummy-li"></li>
                    </ul>
                </section>
            </main>

            
            <aside id="aside" class="flex-column hidden">
                <h1>サイドバー</h1>
                <p>サイドバー</p>
                <p>サイドバー</p>
            </aside>
        </div>
    </div>

    <footer id="footer">
        <p>（一社）養老スポーツクラブ</p>
    </footer>

    <script src="/static/js/base.js"></script>
    <script src="/static/js/auth.js"></script>
    <script src="/static/js/my/lessons.js"></script>
</body>
</html>

