<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website created by K.W.">
    <meta name="author" content="K.W.">
    <link rel="stylesheet" href="/static/css/base.css">
    <title>{{ title }}</title>
</head>
<body>
    <div id="app" class="flex-column">

        <header id="header">
            <section id="header-section" class="flex-row-between">
                <section id="nav-section">
                    <nav id="nav-mobile" class="flex-row">
                        <p>メニュー</p>
                    </nav>
                    <nav id="nav-pc" class="flex-row hidden">
                        <p>メニュー１</p>
                        <p>メニュー２</p>
                        <p>メニュー３</p>
                    </nav>
                </section>
                <section id="user-info-section">
                    <p>user</p>
                </section>
            </section>
        </header>


        
        <section id="page-directory-section" class="flex-row">
            <span id="span-margin-left" style="margin-left: 1rem; margin-right: 0;"></span>
            <span>ホーム</span>
            <span>＞</span>
            <span>教室申込</span>
            <span>＞</span>
            <span>2024年度前期</span>
            <span>＞</span>
            <span>2024年度前期</span>
            <span>＞</span>
            <span>2024年度前期</span>
            <span>＞</span>
            <span>2024年度前期</span>
            <span>＞</span>
            <span>2024年度前期</span>
            <span>＞</span>
            <span>2024年度前期</span>
            <span>＞</span>
            <span>2024年度前期</span>
            <span>＞</span>
            <span>2024年度前期</span>
            <span>＞</span>
            <span>2024年度前期</span>
            <span>＞</span>
            <span>2024年度前期</span>
            <span>＞</span>
            <span>2024年度前期</span>
            <span>＞</span>
            <span>2024年度前期</span>
        </section>

        <div id="aside-and-main" class="flex-row-around">
            
            <main id="main" class="flex-column">
                {% block content %}{% endblock content %}
            </main>

            
            <aside id="aside" class="flex-column hidden">
                <h1>サイドバー</h1>
                <p>サイドバー</p>
                <p>サイドバー</p>
            </aside>
        </div>
        
        <footer id="footer">
            <p>フッター</p>
        </footer>
    </div>
    <script src="/static/js/base.js"></script>
</body>
</html>
