<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website created by K.Wakayama">
    <meta name="author" content="K.Wakayama">
    <link rel="stylesheet" href="/assets/css/base.css">
    <title>{{ title }}</title>
</head>
<body>
    <div id="app">
        <div id="header-and-nav">
            <header>
                <p>ロゴ</p>
                <p>検索</p>
                <p>メニュー</p>
            </header>
        
            <nav>
                <ul>
                    <li>メニュー１</li>
                    <li>メニュー２</li>
                    <li>メニュー３</li>
                </ul>
            </nav>
        </div>
    
        <div id="aside-and-main">
            <aside>
                サイドバー
            </aside>

            {% block content %}{% endblock content %}
        </div>
        
        <footer>
            フッター
        </footer>
    </div>
    <script src="/assets/js/base.js"></script>
</body>
</html>
