<header id="header">
    <section id="header-section" class="flex-row-between">
        <section id="nav-section">
            <nav id="nav-mobile" class="flex-row">
                <button type="button" id="menu-btn">メニュー</button>
            </nav>
            <nav id="nav-pc" class="flex-row hidden">
                <span><a href="/">ホーム</a></span>
                <span><a href="/todos">Todos</a></span>
                <span><a href="/lessons">Lessons</a></span>
                <span><a href="/my/lessons">My Lessons</a></span>
                <span><a href="/superuser/lessons">Super User Lessons</a></span>
            </nav>
        </section>
        <section id="user-info-section" class="flex-row">
            <button type="button" id="logout-btn" class="hidden" style="margin-right: 0.5rem;">ログアウト</button>
            <button type="button" id="user-btn" class="is-loged-out">ユーザー</button>
        </section>
    </section>
    <nav id="nav-mobile-content" class="flex-column align-center hidden">
        <span><a href="/">ホーム</a></span>
        <span><a href="/todos">Todos</a></span>
        <span><a href="/lessons">Lessons</a></span>
        <span><a href="/my/lessons">My Lessons</a></span>
        <span><a href="/superuser/lessons">Super User Lessons</a></span>
    </nav>
</header>