<!-- body content -->
{% extends 'base.html' %}
{% block content %}

<div id="app">
    <div id="header-and-nav">
        <header>
            <p>ロゴ</p>
            <p>検索</p>
            <p>メニュー</p>
        </header>
    
        <nav>
            <ul>
                <li>メニュー１</li>
                <li>メニュー２</li>
                <li>メニュー３</li>
            </ul>
        </nav>
    </div>

    <div id="aside-and-main">
        <aside>
            サイドバー
        </aside>

        <main>
            <section>
                <h1>Success!</h1>
                <h2>index.html is loaded.</h2>
            </section>

            <section>
                セクション
                <a href="/todos">ToDo List</a>
            </section>

            <article>
                アーティクル
            </article>
        </main>

    </div>

    <footer>
        フッター
    </footer>
</div>







{% endblock content %}
<!-- end body content -->
