<!-- index.html -->
{% extends 'base.html' %}
{% block content %}

<main>
    <section>
        <h1>Success!</h1>
        <h2>index.html is loaded.</h2>
    </section>

    <section>
        セクション
        <a href="/todos">ToDo List</a>
    </section>

    <article>
        アーティクル
        <form id="sign-up-form">
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="text" id="password" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
    </article>
</main>


{% endblock content %}
