<!-- index.html -->
{% extends 'base.html' %}
{% block content %}
<!-- main contents below -->


<section class="flex-column">
    <h1>Success!</h1>
    <h2>index.html is loaded.</h2>
</section>

<section class="flex-column">
    <p>セクション</p>
    <span>
        <a href="/todos">ToDo List</a>
    </span>
</section>

<article class="flex-column">
    <p>アーティクル</p>
</article>

<article class="flex-column">
    <p>やることリスト</p>
    <p>PCレスポンシブをJSで実装する</p>
    <p>やることはダークモードと同じ</p>
</article>

<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>



<!-- main contents above -->
{% endblock content %}

