<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website created by K.W.">
    <meta name="author" content="K.W.">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/lessons.css">
    <title>{{ title }}</title>
</head>
<body>
    <header id="header">
        <section id="header-section" class="flex-row-between">
            <section id="nav-section">
                <nav id="nav-mobile" class="flex-row">
                    <p>メニュー</p>
                </nav>
                <nav id="nav-pc" class="flex-row hidden">
                    <p>メニュー１</p>
                    <p>メニュー２</p>
                    <p>メニュー３</p>
                </nav>
            </section>
            <section id="user-info-section">
                <p>user</p>
            </section>
        </section>
    </header>


    <div id="app" class="flex-column">
        <section id="page-directory-section" class="flex-row">
            <span id="span-margin-left" style="margin-left: 1rem; margin-right: 0;"></span>
            <span>ホーム</span>
            <span>＞</span>
            <span>教室申込</span>
            <span>＞</span>
            <span>2024年度前期</span>
        </section>

        <div id="aside-and-main" class="flex-row-around">
            <main id="main" class="flex-column">
                <section id="lesson-list-section" class="flex-column">
                    <h1>2024年度前期　教室</h1>

                    <div class="space"></div>

                    <ul id="lesson-list" class="flex-column">

                        <li class="lesson-list-li flex-column">
                            <div class="flex-row-between lesson-number-etc">
                                <div class="lesson-number"><div>１</div></div>
                                <div class="lesson-name"><div class="flex-row">教室名</div></div>
                                <div class="lesson-day">水</div>
                            </div>

                            <div class="flex-row-between lesson-img-etc">
                                <div class="lesson-time-etc" class="flex-column">
                                    <div class="lesson-time">10:00 〜 12:00</div>
                                    <div class="lesson-place">総合体育館２階</div>
                                    <div class="lesson-fee">5,000円（全10回分）</div>
                                    <div class="see-details"><a href="#">see details ></a></div>
                                </div>
                                
                                <div class="lesson-img">img</div>
                            </div>

                            <p class="lesson-description">comments comments comments comments</p>

                            <button class="lesson-sign-up-btn">申し込みをする</button>
                        </li>

                        <li class="lesson-list-li flex-column">
                            <div class="flex-row-between lesson-number-etc">
                                <div class="lesson-number"><div>１０</div></div>
                                <div class="lesson-name"><div class="flex-row">めっちゃ長い教室名がここに入るかもしれない</div></div>
                                <div class="lesson-day">水</div>
                            </div>

                            <div class="flex-row-between lesson-img-etc">
                                <div class="lesson-time-etc" class="flex-column">
                                    <div class="lesson-time">10:00 〜 12:00</div>
                                    <div class="lesson-place">総合体育館２階</div>
                                    <div class="lesson-fee">5,000円（全10回分）</div>
                                    <div class="see-details"><a href="#">see details ></a></div>
                                </div>
                                
                                <div class="lesson-img">img</div>
                            </div>

                            <p class="lesson-description">comments comments comments comments</p>

                            <button class="lesson-sign-up-btn">申し込みをする</button>
                        </li>

                        <li class="lesson-list-li flex-column">
                            <div class="flex-row-between lesson-number-etc">
                                <div class="lesson-number"><div>１</div></div>
                                <div class="lesson-name"><div class="flex-row">教室名</div></div>
                                <div class="lesson-day">水</div>
                            </div>

                            <div class="flex-row-between lesson-img-etc">
                                <div class="lesson-time-etc" class="flex-column">
                                    <div class="lesson-time">10:00 〜 12:00</div>
                                    <div class="lesson-place">総合体育館２階</div>
                                    <div class="lesson-fee">5,000円（全10回分）</div>
                                    <div class="see-details"><a href="#">see details ></a></div>
                                </div>
                                
                                <div class="lesson-img">img</div>
                            </div>

                            <p class="lesson-description">comments comments comments comments</p>

                            <button class="lesson-sign-up-btn">申し込みをする</button>
                        </li>

                        <li class="lesson-list-li flex-column">
                            <div class="flex-row-between lesson-number-etc">
                                <div class="lesson-number"><div>１</div></div>
                                <div class="lesson-name"><div class="flex-row">教室名</div></div>
                                <div class="lesson-day">水</div>
                            </div>

                            <div class="flex-row-between lesson-img-etc">
                                <div class="lesson-time-etc" class="flex-column">
                                    <div class="lesson-time">10:00 〜 12:00</div>
                                    <div class="lesson-place">総合体育館２階</div>
                                    <div class="lesson-fee">5,000円（全10回分）</div>
                                    <div class="see-details"><a href="#">see details ></a></div>
                                </div>
                                
                                <div class="lesson-img">img</div>
                            </div>

                            <p class="lesson-description">comments comments comments comments</p>

                            <button class="lesson-sign-up-btn">申し込みをする</button>
                        </li>
                        
                    </ul>
                </section>
            </main>

            
            <aside id="aside" class="flex-column hidden">
                <h1>サイドバー</h1>
                <p>サイドバー</p>
                <p>サイドバー</p>
            </aside>
        </div>
    </div>

    <footer id="footer">
        <p>（一社）養老スポーツクラブ</p>
    </footer>

    <script src="/static/js/base.js"></script>
</body>
</html>

