<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website created by K.W.">
    <meta name="author" content="K.W.">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/my.css">
    <title>マイページ</title>
</head>
<body>
    {% include "header.html" %}

    <div id="app" class="flex-column">
        
        <section id="page-directory-section" class="flex-row">
            <span id="span-margin-left" style="margin-left: 1rem; margin-right: 0;"></span>
            <span><a href="/">ホーム</a></span>
            <span>＞</span>
            <span>マイページ</span>
        </section>

        <div id="proper-body" class="flex-row">
            
            <main id="main" class="flex-column align-center">
                <h2 class="text-center">マイページ</h2>

                {% include "authform.html" %}

                <section id="my-action-section" class="flex-colum on-login">
                    <div class="space"></div>
                    <a class="a-btn" href="/my/lessons">申し込み済みの教室を確認する</a>
                </section>
            </main>
        </div>
    </div>

    <footer id="footer">
        <p>（一社）養老スポーツクラブ</p>
    </footer>

    <script src="/static/js/base.js"></script>
    <script src="/static/js/auth.js"></script>
</body>
</html>

