<!-- todos.html -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your ToDo App">
    <meta name="author" content="YourToDoApp">
    <title>ToDo List</title>
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/todos.css">
</head>
<body>
    <div id="app">
        <header>
            <section id="login-status-section">
                <p class="hidden">Not loged in</p>
            </section>
            <section id="login-form-section">
                <!-- login form -->
                <form id="login-form" class="" action="/token" method="post">
                    <!-- ユーザー名とパスワードの入力 -->
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <!-- ログインボタン -->
                    <button type="submit">Login</button>
                    <!-- ログアウトボタン -->
                    <button type="button" id="logout-btn">Logout</button>
                </form>
            </section>
        </header>
        
        <main>
            <section id="todo-list-section">
                <h1>ToDo List</h1>
                
                <!-- dummy todos before loading data -->
                <ul id="todo-list">
                    <li class="dummy-todo-li"></li>
                    <li class="dummy-todo-li"></li>
                    <li class="dummy-todo-li"></li>
                    <li class="dummy-todo-li"></li>
                </ul>
            </section>
            
            <section id="add-todo-form-section">
                <h2>Add a new ToDo</h2>

                <!-- 新しいToDoを追加するフォーム -->
                <form id="add-todo-form" action="/todos" method="post">
                    <input type="text" id="title" name="title" placeholder="Title" required>
                    <textarea id="content" name="content" placeholder="Content" oninput="autoResize(this)"></textarea>
                    <button id="add-todo-form-btn" type="submit">Add ToDo</button>
                </form>
            </section>
        </main>
        
        <footer>
            <p>&copy; 2023 YourToDoApp. All rights reserved.</p>
        </footer>
    </div>

    <script src="/assets/js/todos.js"></script>
</body>
</html>
